body {
    background-color: #feedff;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2, .card-header, .navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
}

.card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -1px; 
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.949);
}