body {
    background-color: #feedff;
    font-family: 'Inter', sans-serif; /* A fonte importada aqui */
    -webkit-font-smoothing: antialiased;
}

h2, .card-header, .navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Peso negrito para títulos */
}

/* Estilo para os números das leituras */
.card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -1px; /* Números ficam mais elegantes assim */
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.949);
}